In [455]:
import pandas as pd
import numpy as np

In [456]:
auto_data=pd.read_csv("datasets_1291_2355_Automobile_data.csv")

In [457]:
#show ?
auto_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [458]:
#replace ? with nan
auto_data=auto_data.replace('?',np.nan)

In [459]:
auto_data.shape

(205, 26)

In [460]:
#all data are int
auto_data['price'].value_counts

<bound method IndexOpsMixin.value_counts of 0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object>

In [461]:
#price are object change it to int
#bore are object change it to float
#stroke are object change it to float
auto_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [463]:
#must rplace any nan value to None 
auto_data['price'].isna().sum()

4

In [464]:
#Chage Nan to 0 for change data to int
auto_data['price']=auto_data['price'].replace(np.nan,None)
auto_data['price']=auto_data['price'].astype(int)

In [465]:
#change data type to float
auto_data['bore']=auto_data['bore'].astype(float)

In [466]:
#change data type to float
auto_data['stroke']=auto_data['stroke'].astype(float)

In [467]:
#Show almost datat are the same
auto_data['engine-location'].value_counts()

front    202
rear       3
Name: engine-location, dtype: int64

In [468]:
#Drop the row engine-location
auto_data.drop(['engine-location'],axis=1,inplace=True)

In [469]:
#show heigh-mpg and city-mpg , we can drop one of them
auto_data.corr()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,city-mpg,highway-mpg,price
symboling,1.000000,-0.531954,-0.357612,-0.232919,-0.541038,-0.227691,-0.105790,-0.134205,-0.008965,-0.178515,-0.035823,0.034606,-0.080149
wheel-base,-0.531954,1.000000,0.874587,0.795144,0.589435,0.776386,0.569329,0.490378,0.161477,0.249786,-0.470414,-0.544082,0.571784
length,-0.357612,0.874587,1.000000,0.841118,0.491029,0.877728,0.683360,0.607480,0.129739,0.158414,-0.670909,-0.704662,0.678818
width,-0.232919,0.795144,0.841118,1.000000,0.279210,0.867032,0.735433,0.559204,0.182956,0.181129,-0.642704,-0.677218,0.764977
height,-0.541038,0.589435,0.491029,0.279210,1.000000,0.295572,0.067149,0.176195,-0.056999,0.261214,-0.048640,-0.107358,0.112421
curb-weight,-0.227691,0.776386,0.877728,0.867032,0.295572,1.000000,0.850594,0.649045,0.168929,0.151362,-0.757414,-0.797465,0.835657
engine-size,-0.105790,0.569329,0.683360,0.735433,0.067149,0.850594,1.000000,0.594090,0.206675,0.028971,-0.653658,-0.677470,0.870751
bore,-0.134205,0.490378,0.607480,0.559204,0.176195,0.649045,0.594090,1.000000,-0.055909,0.005203,-0.594584,-0.594572,0.553533
stroke,-0.008965,0.161477,0.129739,0.182956,-0.056999,0.168929,0.206675,-0.055909,1.000000,0.186170,-0.042906,-0.044528,0.079663
compression-ratio,-0.178515,0.249786,0.158414,0.181129,0.261214,0.151362,0.028971,0.005203,0.186170,1.000000,0.324701,0.265201,0.064381
city-mpg,-0.035823,-0.470414,-0.670909,-0.642704,-0.048640,-0.757414,-0.653658,-0.594584,-0.042906,0.324701,1.000000,0.971337,-0.690580
highway-mpg,0.034606,-0.544082,-0.704662,-0.677218,-0.107358,-0.797465,-0.677470,-0.594572,-0.044528,0.265201,0.971337,1.000000,-0.698389
price,-0.080149,0.571784,0.678818,0.764977,0.112421,0.835657,0.870751,0.553533,0.079663,0.064381,-0.690580,-0.698389,1.000000

In [470]:
#Drop row highway-mpg
auto_data.drop(['highway-mpg'],axis=1,inplace=True)

In [471]:
auto_data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,94.5,171.2,...,six,152,mpfi,2.68,3.47,9.0,154,5000,19,16500
3,2,164,audi,gas,std,four,sedan,fwd,99.8,176.6,...,four,109,mpfi,3.19,3.40,10.0,102,5500,24,13950
4,2,164,audi,gas,std,four,sedan,4wd,99.4,176.6,...,five,136,mpfi,3.19,3.40,8.0,115,5500,18,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,109.1,188.8,...,four,141,mpfi,3.78,3.15,8.7,160,5300,19,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,109.1,188.8,...,six,173,mpfi,3.58,2.87,8.8,134,5500,18,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,109.1,188.8,...,six,145,idi,3.01,3.40,23.0,106,4800,26,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,109.1,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,19,22625

In [472]:
#show all data are the same except price
colunms_name=[col for col in auto_data.columns]
duplictes=auto_data.duplicated(colunms_name[:-1])
auto_data[duplictes].sort_values(by=['compression-ratio'])

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
61,1,129,mazda,gas,std,two,hatchback,fwd,98.8,177.8,...,four,122,2bbl,3.39,3.39,8.6,84,4800,26,10595
62,0,115,mazda,gas,std,four,sedan,fwd,98.8,177.8,...,four,122,2bbl,3.39,3.39,8.6,84,4800,26,10245
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,88.6,168.8,...,four,130,mpfi,3.47,2.68,9.0,111,5000,21,16500
26,1,148,dodge,gas,std,four,sedan,fwd,93.7,157.3,...,four,90,2bbl,2.97,3.23,9.4,68,5500,31,7609
56,3,150,mazda,gas,std,two,hatchback,rwd,95.3,169.0,...,two,70,4bbl,NaN,NaN,9.4,101,6000,17,11845
127,3,NaN,porsche,gas,std,two,hardtop,rwd,89.5,168.9,...,six,194,mpfi,3.74,2.90,9.5,207,5900,17,34028
116,0,161,peugot,diesel,turbo,four,sedan,rwd,107.9,186.7,...,four,152,idi,3.70,3.52,21.0,95,4150,28,17950

In [473]:
#merge data and cal the mean of price
auto_data=auto_data.groupby(by=colunms_name[:-1] ).agg({'price': 'mean'}).reset_index()

In [474]:
#shoe nan value in data
auto_data.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
price                0
dtype: int64

In [477]:
#Now Data are Cleaning
auto_data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,wheel-base,length,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
0,-2,103,volvo,gas,std,four,sedan,rwd,104.3,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,23,12940.0
1,-2,103,volvo,gas,std,four,sedan,rwd,104.3,188.8,...,four,141,mpfi,3.78,3.15,9.5,114,5400,24,15985.0
2,-2,103,volvo,gas,turbo,four,sedan,rwd,104.3,188.8,...,four,130,mpfi,3.62,3.15,7.5,162,5100,17,18420.0
3,-1,110,dodge,gas,std,four,wagon,fwd,103.3,174.6,...,four,122,2bbl,3.34,3.46,8.5,88,5000,24,8921.0
4,-1,137,mitsubishi,gas,std,four,sedan,fwd,96.3,172.4,...,four,110,spdi,3.17,3.46,7.5,116,5500,23,9279.0

In [ ]:
.